* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.slider-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-foto img {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.left_btn,
.right_btn {
  display: flex;
  width: 135px;
  background: none;
  position: absolute;
  top: 45%;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: rgb(83, 4, 80);
  border: none;
  border-radius: 16px;
  text-align: center;
}

.left_btn:hover, .right_btn:hover {
  background: rgba(127, 125, 125, 0.5);
}

.left_btn {
  margin-left: 5px;
}

.right_btn {
  right: 0;
  margin-right: 5px;
}

.navigation-points {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin: 20px 0px;
}

.point {
  width: 20px;
  height: 20px;
  background-color: rgb(209, 139, 136);
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: #d20505;
}